@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600&display=swap');

.swipeable-list-item__trailing-actions {
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
